:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    background-image: url(../assets/laptop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Alinhamento central do corpo do site*/

div.all{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*plano de fundo efito de vidro fosco*/

div.fosco{
  width: 940px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 32px;
}

/*Sessão Menu*/

section.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0;
  width: 100%;
}
header{
  display: flex;
}
header h3.menu__title{
  font-size: 30px;
  color: #DADFEA;
  text-shadow: 3px 3px #363636;
}
ul.menu__list{
  display: flex;
  margin-right: 10px;
}
li.menu__list__item{
  padding: 10px;
}
li.menu__list__item a{
  font-size: 18px;
  color: #FFFFFF;
  border-top: dashed 2px;
  text-shadow: 2px 2px #363636;
}
li.menu__list__item a:hover{
  background: #5A6170;
  border-radius: 10px;
  padding: 8px;
  border-top: none;
}
div.botao-menu-mobile{
  display: none;
}
nav.menu-mobile{
  display: none;
}
/*Sessão Title*/

section.title{
  display: flex;
  justify-content: space-between;
}
div.title__div{
  display: flex;
  align-items: center;
  margin: 5px 50px;
}
img.title__profile{
  width: 360px;
  height: 360px;
  border-radius: 180px;
  margin-top: 10px;
}
div.title__container{
  text-align: center;
  color: #FFFFFF;
  margin-left: 10px;
  padding: 50px 50px 0px 50px;
}
div.principal__title__network{
  display: flex;
  justify-content: space-between;
}
div.principal__title__network ul a li:hover{
  text-decoration: underline 2px #FFFFFF;
  color: yellow;
}
li.title__network__item{
  padding: 5px;
  color: #FFFFFF;
}
li.title__network__img img{
  width: 50px;
}

/*Sessão About*/

section.about{
  display: flex;
  text-align: center;
  margin-bottom: 10px;
}
p.about__paragraph{
  margin: 5px 10px;
}

/*Sessão Skills*/

section.skills{
  width: 940px;
  margin-top: 10px;
}
h2.skills__title{
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: 2px 2px #363636;
  border-top: solid 2px;
  border-bottom: solid 2px;
  padding: 2px 0 2px 0;
}
div.skills__line{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 50px 50px 80px;
}
div.skills__box ul{
  background: linear-gradient(#FFFFFF, #DADFEA, #9DA6B8);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  margin: 10px 15px;
  border-radius: 5px;
}

li.skills__img img{
  width: 80px;
}
li.skills__name{
  margin-top: 10px;
  text-align: center;
}
div#soft__skills{
  margin: 50px 100px 50px 150px;
}
/*Sessão Hobbies*/

section.hobbies{
  width: 940px;
}
h2.hobbies__title{
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: 2px 2px #363636;
  border-top: solid 2px;
  border-bottom: solid 2px;
  padding: 2px 0 2px 0;
}
div.hobbies__line{
  display: flex;
  margin: 50px 200px 50px 200px;
}
div.hobbies__box ul{
  background: linear-gradient(#FFFFFF, #DADFEA, #9DA6B8);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  margin: 0px 20px;
  border-radius: 5px;
}
li.hobbies__img img{
  width: 100px;
}
li.hobbies__name{
  text-align: center;
  margin-top: 10px;
}

/* Experiência Acadêmica*/

section.academic{
  width: 940px;
}
h2.academic__title{
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: 2px 2px #363636;
  border-top: solid 2px;
  border-bottom: solid 2px;
  padding: 2px 0 2px 0;
}
div.academic__courses{
  display: flex;
  align-items: stretch;
}
div.academic__courses__box ul{
  background: linear-gradient(#FFFFFF, #9DA6B8);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  padding: 5px 5px;
  margin: 50px 40px 50px 50px;
  border-radius: 5px;
  width: 200px;
  height: 250px;
  text-align: center;
}
ul.academic__courses__list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* experiência*/

section.experience{
  width: 940px;
}
h2.experience__section__title{
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: 2px 2px #363636;
  border-top: solid 2px;
  border-bottom: solid 2px;
  padding: 2px 0 2px 0;
}
div.experiencie__box{
  display: flex;
  align-items: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  margin-top: 20px;
}
img.experience__img{
  width: 600px;
  border-radius: 5px;
  border-style: ridge;
  border-color: #FFFFFF;
}

div#experience__info01{
  margin-left: 40px;
}
div.experience__info{
  text-align: center;
  margin: 0px 10px;
}
span.experience__repo button{
  width: 100px;
  padding: 10px 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: #5A6170;
  color: #FFFFFF;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
span.experience__repo button:hover{
  background: #6C63FF;
  color: #000000;
}
span.experience__demo button{
  width: 100px;
  padding: 10px 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: #DADFEA;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
span.experience__demo button:hover{
  background: #6C63FF;
  color: #DADFEA;
}

/*Contato*/

section.formcontato{
  width: 940px;
  margin-top: 20px;
}
div.formcontato__contacto{
  display: flex;
  align-items: stretch;
}
img.formcontato__img{
  width: 470px;
  height: 450px;
  margin-bottom: 0;
  border-radius: 30px;
}
div.formcontato__text{
  direction: flex;
  text-align: center;
}
h2.formcontato__title{
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: 2px 2px #363636;
  border-top: solid 2px;
  border-bottom: solid 2px;
  padding: 2px 0 2px 0;
}
h3.formcontato__subtext{
  color: #DADFEA;
  text-shadow: 2px 2px #363636;
}
form.formcontato__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 30px;
}
input.formcontato__input{
  margin: 5px 0;
  border: none;
  border-radius: 15px;
  padding: 6px;
  width: 400px;
}
textarea.formcontato__textarea{
  border-radius: 15px;
  padding: 5px;
  margin-top: 5px;
  border: none;
  width: 400px;
}
button.formcontato__botao{
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  border: solid 2px #FFFFFF;
  background: #5A6170;
  width: 250px;
  font-size: 16px;
  color: #FFFFFF;
  transition: 1s;
}
button.formcontato__botao:hover{
  background: #6C63FF;
  transform: scale(1.1);
}

/*footeer*/

section.footer{
  text-align: center;
  width: 100%;
  background: #5A6170;
}
div.footer__rodape p{
  color: #FFFFFF;
}



/*Tablet*/
@media (max-width: 800px) {

/* Menu */
  header h3.menu__title{
    font-size: 25px;
  }
  li.menu__list__item a{
    border-top: none;
    font-size: 16px;
  }
/*title*/
  div.fosco{
   width: 700px;
   backdrop-filter: none;
   -webkit-backdrop-filter: none;
  }
  section.title{
   display: flex;
   justify-content: space-between;
  }
  div.title__div{
   display: flex;
   align-items: center;
   margin: 5px 50px;
  }
  img.title__profile{
    width: 260px;
    height: 260px;
    border-radius: 130px;
    margin-top: 10px;
  }
  div.title__container{
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px #363636;
    margin-left: 5px;
    padding: 20px 20px 0px 20px;
  }
  h2.title__bio{
    font-size: 18px;
  }
  h3.title__subsection{
    font-size: 16px;
  }
  li.title__network__item{
    font-size: 16px;
    padding: 5px;
    color: #FFFFFF;
  }
  li.title__network__img img{
   width: 40px;
  }

/*Sessão About*/
  section.about{
    background: #DEDFEA;
    margin-bottom: 0px;
    border-radius: 10px 10px 10px 10px;
  }
/*Skills*/
  section.skills{
    width: 700px;
    margin-top: 10px;
  }
  div.skills__line{
    justify-content: center;
  }
  div#soft__skills{
    margin: auto;
  }

/*Hobbies*/
  section.hobbies{
    width: 700px;
  }

  div.hobbies__line{
    display: flex;
    justify-content: center;
    margin: auto;
  }

/*Experiências acadêmicas*/
  section.academic{
    width: 700px;
  }
  div.academic__courses{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: auto;
  }
  li.academic__courses__item__img img{
    width: 100px;
    height: auto;
  }
  div.academic__courses__box ul{
    width: 150px;
    height: 250px;
  }

/*Expeirência profissional*/
  section.experience{
    width: 700px;
  }
  div.experiencie__box{
    display: flex;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin-top: 20px;
  }
  img.experience__img{
    width: 350px;
  }
/*Contato*/

  section.formcontato{
    width: 700px;
    margin-top: 20px;
  }
  img.formcontato__img{
    width: 300px;
  }
  div.formcontato__text{
    direction: flex;
    text-align: center;
    width: 400px;
  }
  h2.formcontato__title{
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 2px 2px #363636;
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 2px 0 2px 0;
  }
  h3.formcontato__subtext{
    color: #DADFEA;
    text-shadow: 2px 2px #363636;
  }
  form.formcontato__form{
    margin: auto;
  }
  input.formcontato__input{
    width: 300px;
  }
  textarea.formcontato__textarea{
    width: 300px;
  }

}

@media (max-width: 705px) {

/* Menu */
  nav ul.menu__list{
    display: none;
  }
  div.mobile__menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10%;
  }
  div.botao-menu-mobile{
    display: block;
    position: absolute;
    top: 0;
    margin-top: 2%;
  }
  div.botao-menu-mobile i{
    font-size: 50px;
  }
  nav.menu-mobile ul{
    background: #363636;
    padding: 2px;
    position: fixed;
    left: 0;
    top: 10%;
    width: 100%;
    text-align: center;
  }
  nav.menu-mobile ul li{
    border-bottom: solid 2px #FFFFFF;
  }

/*title*/
  div.fosco{
    width: 500px;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-radius: none;
  }
  div.title__div{
   display: flex;
   align-items: center;
   margin: 5px 20px;
  }
  img.title__profile{
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  div.title__container{
    width: 250px;
    margin-left: 5px;
    padding: 5px 5px 0px 5px;
  }
  h2.title__bio{
    font-size: 18px;
  }
  h3.title__subsection{
    font-size: 16px;
  }
  div.principal__title__network{
    justify-content: center;
  }
  li.title__network__item{
    font-size: 14px;
  }
  li.title__network__img img{
   width: 30px;
  }

/*Skills*/
  section.skills{
    width: 500px;
  }

/*Hobbies*/
  section.hobbies{
    width: 500px;
  }

/*Experiências acadêmicas*/
  section.academic{
    width: 500px;
  }
  li.academic__courses__item__img img{
    width: 80px;
    height: auto;
  }
  div.academic__courses__box ul{
    width: 150px;
    height: 220px;
    margin: 10px;
  }
  li.academic__courses__item__title{
    font-size: 16px;
  }
  li.academic__courses__item__subtitle{
    font-size: 14px;
  }
/*Expeirência profissional*/
  section.experience{
    width: 500px;
  }
  img.experience__img{
    width: 320px;
  }
  h2.experience__title{
    font-size: 18px;
  }
  h3.experience__text{
    font-size: 16px;
  }
/*Contato*/

  section.formcontato{
    width: 700px;
    margin-top: 20px;
  }
  img.formcontato__img{
    width: 300px;
  }
  div.formcontato__text{
    direction: flex;
    text-align: center;
    width: 400px;
  }
  h2.formcontato__title{
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 2px 2px #363636;
    border-top: solid 2px;
    border-bottom: solid 2px;
    padding: 2px 0 2px 0;
  }
  h3.formcontato__subtext{
    color: #DADFEA;
    text-shadow: 2px 2px #363636;
  }
  form.formcontato__form{
    margin: auto;
  }
  input.formcontato__input{
    width: 300px;
  }
  textarea.formcontato__textarea{
    width: 300px;
  }

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/

/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
